@mixin rounded-block {
  border-radius: 25px;
  padding: 20px;
}

@mixin rounded-forms {
  padding: 15px 20px;
  border: 1px solid $light-blue;
  border-radius: 10px;
}

@mixin down-arrow {
  &::after {
    position: absolute;
    right: 20px;
    bottom: 50%;
    content: "";
    width: 2px;
    height: 20px;
    transform: translateY(50%) rotate(38deg);
    background: $light-blue;
  }

  &::before {
    position: absolute;
    right: 33px;
    bottom: 50%;
    content: "";
    width: 2px;
    height: 20px;
    transform: translateY(50%) rotate(-38deg);
    background: $light-blue;
  }
}
