.questions {
    background: var(--secondary-bg-color, #E8EFFF);
    padding-top: 60px;

    .container {
        padding-left: 80px;
        padding-right: 80px;
    }

    &-more {
        padding-top: 80px;
        text-align: center;
        font-size: 24px;

        p {
            margin-top: 17px;
        }

        &__btn {
            display: inline-block;
            margin-top: 12px;
        }
    }
}